@import "../../styles/controls";

.Tag {
  @apply inline-block px-2 py-0.5 rounded-full border text-xs select-none transition;

  color: var(--text-color-content);
  background-color: var(--background-color-control);

  &-selected {
    color: var(--text-color-active);
    border-color: var(--text-color-active);
  }

  &-interactive {
    @apply cursor-pointer outline-none;
    &:focus {
      box-shadow: var(--text-color-content) 0 0 0 2px;
    }
  }
}