@import "../../styles/theme";

.skeleton {
  animation: skeleton-keyframes 1.6s ease-in-out infinite alternate;
}

.skeleton-paused {
  .skeleton {
    animation-play-state: paused;
  }
}

$text-from: fade-out($text-color-subtitle, 0.7);
$text-to: $text-color-subtitle;
$bg-from: fade-out($text-color-content, 0.7);
$bg-to: $text-color-content;

@keyframes skeleton-keyframes {
  0% {
    background-color: $bg-to;
    color: $text-to;
  }
  100% {
    background-color: $bg-from;
    color: $text-from;
  }
}

