@import "inputs";
@import "theme";

:root {
  --color-primary: #{$color-primary};
  --color-primary-highlighted: #{$color-primary-highlighted};
  --color-primary-reverse: #{$color-primary-reverse};
  --color-primary-darkened: #{$color-primary-darkened};

  --background-color-body: #{$background-color-body};
  --background-color-toolbar: #{$background-color-toolbar};
  --background-color-popover: #{$background-color-popover};
  --background-color-control: #{$background-color-control};

  --text-color-title: #{$text-color-title};
  --text-color-subtitle: #{$text-color-subtitle};
  --text-color-content: #{$text-color-content};
  --text-color-disabled: #{$text-color-disabled};
  --text-color-active: #{$text-color-active};

  --border-color-default: #{$border-color-default};

  --list-item-focus: #{$list-item-focus};
  --list-item-active: #{$list-item-active};
}
